@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500&display=swap');

.Introduction {
  margin: 6rem 0;

  h2 {
    font-family: 'Rubik', 'Roboto', Helvetica, Arial, sans-serif;
    font-weight: bold;
    margin-bottom: 2rem;
    text-align: left;
  }

  p {
    font-family: 'Rubik', 'Roboto', Helvetica, Arial, sans-serif;
    margin-bottom: 2rem;
  }
}